<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rate My Coach{% endblock %}</title>
</head>
<body>
    <nav>
        {% if session.get('user_id') %}
            <span>Welcome, {{ session['username'] }}</span>
            <form action="/logout" method="POST" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
            <form method="POST" action="/delete_account" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete your account?');">
                <button type="submit">Delete My Account</button>
            </form>              
        {% else %}
            <a href="/login">Login</a> |
            <a href="/signup">Sign Up</a>
        {% endif %}
        |
        <a href="/">Home</a>
        |
        <a href="/coaches">Coaches</a>
    </nav>

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>
